body{
    background-image: url(/img/background.jpg);
    color: aqua;   
}

#header{
    text-align: center;
}
.foot{
    color: blue;
    box-shadow : 2px 2px gray;
}

form label{
    background-color: beige;
}
